.wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    color: rgb(94, 94, 250);
}

.active {
    color: red;
}

.links {
    list-style: none;
}
