.wrapper {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.colors {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .container {
    max-width: max(1400px, 90vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.name {
}

.active {
}

.links {
    list-style: none;
}
